<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RS Garden - Examples of Styles</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
<div id="header">
<div id="topmenu">
<ul>
<li><a href="index.html">Home</a></li>
<li class="active"><a href="styles.html">Tables &amp; Forms</a></li>
<li><a href="notes.html">Notes</a> </li>

</ul>
</div>
<div class="clear"></div>
<h1 id="sitename"><a href="#">Garden</a><span class="desc">A Free CSS Template</span></h1>

</div>
<div id="content">
  <div class="clear"></div>

  <div id="rightcontent">
  <h2>Ordered &amp; Unordered List</h2>
  <p>
  Suspendisse vel eros ut sapien mattis auctor. Nullam venenatis venenatis justo. Vestibulum ullamcorper consequat lacus.Ut sed urna vitae dui rutrum  </p>
<h3>Ordered List</h3>
<ol>
<li>This is of Ordered</li>
<li>An Example of Ordered</li>
<li>of Ordered of Ordered</li>
<li>List of Ordered</li>
</ol>
<h3>Unordered List</h3>
  <ul>
    <li>This is Unordered List</li>
    <li>An Example of Unordered List</li>
    <li>Unordered List Unordered List</li>
  </ul>
  <h2>Paragraphs, Blockquotes &amp; Images</h2>
  <blockquote class="extract">
  <p>There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..</p>
</blockquote>

<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in  augue. Mauris et metus eu risus pharetra egestas. Nulla facilisi. In  porttitor. Quisque commodo, dui a adipiscing convallis, risus nulla  vestibulum magna, nec volutpat quam massa nec massa. Donec massa  lectus, tincidunt quis, sollicitudin eu, facilisis sit amet, dui. Duis  rutrum congue arcu. Nulla in quam ornare dui fringilla malesuada.  Mauris volutpat. Phasellus in urna. Nunc leo elit, ullamcorper eu,  tempus a, rutrum eget, mi. Mauris metus nulla, bibendum quis, iaculis  eu, sodales quis, diam. Etiam eleifend tincidunt nunc. Nunc sed ante id  neque fermentum ultrices. Aliquam sapien. Quisque eros turpis, eleifend  sit amet, ultricies volutpat, rutrum non, ipsum. Duis orci massa,  tempus vitae, pharetra et, suscipit in, nibh. Phasellus eget dui eu  neque rhoncus rhoncus. Aenean elementum risus ut nisi. </p>
<h3>Image .leftalign</h3>
 <img src="images/imgsample.jpg" alt="Image" class="leftalign" /> <p>Phasellus ultrices ligula at odio. Donec odio velit, adipiscing at,  consectetuer tempus, pulvinar vitae, turpis. Nulla imperdiet, lorem et  facilisis euismod, sapien ligula laoreet ligula, sed commodo quam nulla  at dui. In luctus congue dui. Morbi molestie ante non leo tempus  semper. Morbi placerat ipsum eu quam. Integer orci. Praesent justo  diam, interdum eu, tempor sit amet, faucibus quis, magna. Aenean  vulputate. Class aptent taciti sociosqu ad litora torquent per conubia  nostra, per inceptos himenaeos. Fusce ornare, ipsum eu iaculis mollis,  purus odio tincidunt eros, vel bibendum diam eros ut diam. Nunc  fermentum dapibus ipsum. In sollicitudin. Nulla facilisi. Etiam nisi  velit, pretium sed, mattis ut, feugiat et, mi. Aliquam ac erat. </p>
 <h3>Image .rightalign</h3>
 <img src="images/imgsample.jpg" alt="Image" class="rightalign" />  <p>Nullam egestas, turpis quis posuere tempus, nibh odio posuere urna,  et adipiscing orci turpis quis mi. Cras non nibh. Mauris ut nunc. Etiam  quis nisi. Aliquam erat volutpat. In nibh nulla, hendrerit vel, laoreet  id, tempor eget, lorem. Aliquam viverra malesuada tellus. Mauris tellus  diam, congue ac, sodales vitae, lobortis non, nulla. Morbi tortor est,  feugiat et, pellentesque vitae, dignissim vel, sapien. Vestibulum quam  lacus, interdum id, eleifend ac, sagittis ullamcorper, tellus. Duis  dignissim. Quisque felis nibh, facilisis sit amet, cursus non, tempus  sed, pede. </p>
  <p>Pellentesque elementum nulla nec nisi. Morbi et velit nec risus  ultricies ultrices. In leo dolor, mattis et, lacinia id, volutpat  iaculis, mi. Sed accumsan, neque in euismod vehicula, sapien velit  ornare nulla, a tincidunt tellus augue ut metus. Sed volutpat nisl id  dui. Nulla pharetra tempus mi. Donec dolor. Praesent cursus hendrerit  lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc  vehicula lorem elementum tortor. Vestibulum justo. Curabitur eu erat.  Donec tortor tortor, rhoncus a, pharetra eget, molestie a, nisi.  Praesent at augue a est rhoncus pulvinar. Vivamus luctus tincidunt  augue. Donec elit. Vestibulum scelerisque eleifend ante. Aenean  posuere. Aenean lorem nulla, condimentum in, suscipit a, tempus vel,  augue. </p>
  <h2>Tables </h2>
  <p>Suspendisse vel eros ut sapien mattis auctor. Nullam venenatis venenatis justo. Vestibulum ullamcorper consequat lacus.Ut sed urna vitae dui rutrum</p>
  <table cellspacing="0" cellpadding="0">
    <tr>
      <th scope="col">Lorem</th>
      <th scope="col">Ipsum</th>
      <th scope="col">Dolor</th>
    </tr>
    <tr>
      <td>Sit</td>
      <td>Ipsum</td>
      <td>Consectetuer</td>
    </tr>
    <tr>
      <td>Adipiscing elit</td>
      <td>Aliquam Negue mi</td>
      <td>Euismond vitae</td>
    </tr>
    <tr>
      <td>Morbi elit nulla</td>
      <td>Laoreet Vel</td>
      <td>Posuere et</td>
    </tr>
    <tr>
      <td>Sit</td>
      <td>Ipsum</td>
      <td>Consectetuer</td>
    </tr>
    <tr>
      <td>Adipiscing elit</td>
      <td>Aliquam Negue mi</td>
      <td>Euismond vitae</td>
    </tr>
    <tr>
      <td>Morbi elit nulla</td>
      <td>Laoreet Vel</td>
      <td>Posuere et</td>
    </tr>
  </table>
 <h2>Example Form</h2>
 <p>
 Suspendisse vel eros ut sapien mattis auctor. Nullam venenatis venenatis justo. Vestibulum ullamcorper consequat lacus.Ut sed urna vitae dui rutrum</p>
<form action="#">
<div class="contactform">
<label for="name">Name:</label>
<input class="textfield" name="Nname" id="name" type="text" />
<label for="email">email:</label><input class="textfield" id="email" name="email" type="text" />
<label for="Age">age:</label>
<input class="textfield" name="Age" id="Age" type="text" />
<label for="Comments">Comments/Questions:</label>
<textarea class="textfield" id="Comments" name="Comments" cols="30" rows="8"></textarea>
<label for="Submit"><span class="hide">Submit</span></label>
<input name="Submit" type="button" id="Submit" class="button" value="Submit" />
</div>
</form>
  </div>
  <div id="sidebar">
<h2>Sub Menu</h2>
<ul>
<li><a href="#">Home Page Template</a></li>
<li><a href="#">Paragraph Styles</a></li>

<li><a href="#">Image &amp; Alignment</a></li>

<li><a href="#">Tables Examples</a></li>

<li><a href="#">Ordered Lists</a></li>

</ul>
<h2>Sub Menu</h2>
<ul>
<li><a href="#">Unordered List</a></li>
<li><a href="#">Block Quotes</a></li>

<li><a href="#">Footer</a></li>

<li><a href="#">Tables Examples</a></li>

<li><a href="#">Ordered Lists</a></li>

</ul>
<h2>Links</h2>
<ul>
<li><a href="#">Open designs</a></li>
<li><a href="#">Rambling Soul</a></li>

<li><a href="#">CSS Freebies</a></li>


</ul>


</div>
  <div class="clear"></div>

</div>
<div class="clear">

</div>
<div id="footer">
<div id="btm_cont">


</div>
<div id="ft_btm"> Copyright &copy; YourSiteName.com  | <a href="#">Some</a> <a href="#">Links</a> <a href="#">Goes</a> <a href="#">Here</a><br />
<!--Credits -->
<a href="http://ramblingsoul.com">CSS Template</a> by Rambling Soul, Sponsored by <a href="http://www.webverzeichnis-online.de/" title="Webkatalog werbefrei">Webverzeichnis Online</a><br />
Images from<a href="http://sxc.hu"> sxc.hu</a>
<!--/Credits -->
</div>

</div>

</div>
</body>
</html>
